---
---

body {
  /*padding-top: 80px;*/
  /*padding-top: 50px; /* this was to make it the same height as the navbar so there is no gap between navbar and header image -- changed back now though*/
  padding-bottom: 40px;
}

/*
.jumbotron {
  /*margin-top: 10px !important;*/
  /*
  padding: 10px;
  margin-bottom: 30px;
}
*/

.navbar-default {
  background-color: #003882;
  border: 0 !important;
  margin-bottom: 0 !important;
}

.navbar-default .navbar-brand {
  font-family: "Lucida Bright", Georgia, serif;

  color: #f6f6f6;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-text {
  color: #f6f6f6;
}
.navbar-default .navbar-nav > li > a {
  color: #f6f6f6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #F36F21;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f6f6f6;
  background-color: #002654;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f6f6f6;
  background-color: #002654;
}
.navbar-default .navbar-toggle {
  border-color: #002654;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #002654;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f6f6f6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f6f6f6;
}
.navbar-default .navbar-link {
  color: #f6f6f6;
}
.navbar-default .navbar-link:hover {
  color: #fdfdfd;
}

@media (max-width: 346px) {
  .jumbotron {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 20px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 28px;
  }
}
@media (min-width: 347px) and (max-width: 382px) {
  .jumbotron {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 32px;
  }
}
@media (min-width: 383px) and (max-width: 417px) {
  .jumbotron {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 36px;
  }
}
@media (min-width: 418px) and (max-width: 453px) {
  .jumbotron {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 40px;
  }
}
@media (min-width: 454px) and (max-width: 489px) {
  .jumbotron {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 44px;
  }
}
@media (min-width: 490px) and (max-width: 519px) {
  .jumbotron {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 48px;
  }
}
@media (min-width: 520px) and (max-width: 561px) {
  .jumbotron {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 52px;
  }
}
@media (min-width: 562px) and (max-width: 596px) {
  .jumbotron {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 56px;
  }
}
@media (min-width: 597px) and (max-width: 900px) {
  .jumbotron {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 64px;
  }
}

/*
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f6f6f6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdfdfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdfdfd;
    background-color: #002654 ;
  }
  .jumbotron {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 48px;
  }
}


@media (min-width: 992px) {
   .collapse {
       display: none !important;
   }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chart {
  position: relative;
  width: 100%; 
  height: 500px
}

.custom-header-container {
  /*background: linear-gradient(to right, black 0%, black 50%,#003882 50%,#003882 100%);*/
  /*background-color: blue;*/
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%; !important;
  height: 75%; !important;
}