{% include header.html %}

<img class="img-responsive center-block" src="/static/img/Zunder Lab Header Image.png" alt="Zunder Lab CyTOF Snapshot">

<!-- width=100% style="padding:40px" -->


<div class="row-fluid">
    <div class="col-sm-8">
    	
    	<div class="jumbotron">
        	{{ content }}
        </div>
    </div>
    <div class="col-sm-4">
    	<br>
    	<br>
    	<img class="img-responsive center-block" src="/static/img/Dry Erase Board.jpg" alt="Eli at dry erase board">
    	<br>
    	<br>
        {% include sidebar.html %}
    </div>
</div>

{% include footer.html %}
